<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Brunch Erstwhile</title>
</head>
<body>
	
	<% @albums.each do |album| %>
		<a href="/albums/<%= album.id %>">
			<img src="<%= album.image_path %>" alt="<%= album.title %>">
		</a>
	<% end %>

	<%= yield %>

</body>
</html>
