<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/styles.css">
	<script src="js/main.js"></script>
	<script src="js/setNavAjax.js"></script>
	<title>Music Brunch Erstwhile</title>
</head>
<body>
	
	<% if @albums && @albums.length > 0 %>
		<nav>
			<% @albums.each do |album| %>
				<a href="/albums/<%= album.id %>">
					<img src="<%= album.image_path %>" alt="<%= album.title %>">
				</a>
			<% end %>
		</nav>
	<% end %>

	<div id="main">
		<h1>Erstwhile Records</h1>
	</div>

</body>
</html>